---
title: "Beatroot News: Text-only"
layout: default
---
<p></p>
<div class="topic-container">
<h1 class="topic-heading">{{page.title}}</h1>
<div class="hr-line"></div>
<p class="topic-date"><time datetime="{{site.time | date: '%y-%m-%d'}}">{{site.time | date: "%A, %b, %e, %Y"}}</time></p>
{% for topic in site.topics %}
<div class="topic-{{topic|downcase}}">
<h2><a href="/{{topic}}/">{{topic | capitalize}}</a></h2>
	{% for post in site.pages %}
	{% if post.topics and post.topics.first == topic %}

		{% unless post.syndicated %}
		{% include_cached story.html story=post %}
		{% endunless %}

	{%endif%}
	{% endfor %}
</div>
{% endfor %}
</div>
