---
title: "Beatroot News: Text-only"
layout: default
---
<p></p>
<div class="topic-container">
<h1 class="topic-heading">{{page.title}}</h1>
<div class="hr-line"></div>
<p class="topic-date"><time datetime="{{site.time | date: '%y-%m-%d'}}">{{site.time | date: "%A, %b, %e, %Y"}}</time></p>
{% for topic in site.topics %}
<h2><a href="/{{topic}}/">{{topic | capitalize}}</a></h2>
	{% for post in site.pages %}
	{% if post.topics and post.days_ago < 2 and post.topics.first == topic %}

		{% unless post.sources contains "PTI" or post.sources contains "IE" %}
		<details data-hash="{{post.id}}-{{post.date | date: '%s'}}"><summary><h3>{{post.title | strip}}</h3></summary>
			<div class="details-content">{{post.content}}</div>
		</details>
		{% endunless %}

	{%endif%}
	{% endfor %}
{% endfor %}
</div>
