---
title: "Beatroot News: Text-only"
layout: default
---
{% assign totalPostCount = 0 %}
<div class="topic-container">
<h1 class="topic-heading">{{page.title}}</h1>
<div class="hr-line"></div>
{% include date.html %}
{% for T in site.data.topics %}
{% assign post_count = T[1] %}
{% assign totalPostCount = totalPostCount | plus: post_count %}
{% if post_count > 0 %}
<div class="topic-{{T[0]|downcase}} news-topic">
<h2><a href="/{{T[0]}}/">{{T[0] | capitalize}}</a></h2>
	{% for post in site.pages %}
	{% if post.topics and post.topics.first == T[0] %}
		{% include_cached story.html story=post heading_level=3%}
	{% endif %}
	{% endfor %}
</div>
{% endif %}
{% endfor %}

{% if totalPostCount == 0  %}
<div class="topic-container">
<h1 class="topic-heading">We have no news</h1>
	<div style="position:relative" class="detailswrapper">
		This website fetches news from the <a href="https://app.beatrootnews.com/">Beatroot News
		</a> website, which has gone down in the frequency of its updates to less than 1 news item per day. 
		As a result, we don't have any news here. If you used this site regularly, please fill <a href="https://tally.so/r/mVyaVy">
		this interest form</a>.
	</div>
</div>

{% else %}
<br><button id="hidden-notifier">Show <span id="hidden-count"></span> hidden topic(s)</button>

<p>❖ - Syndicated news, primarily from PTI</p>
<p>Dark/Light border on the right denotes articles from today/yesterday</p>
</div>
{% endif %}



