{% assign S=  site.data.emoji_every_day.emoji %}
{% capture current_date %}{{ "now" | date: "%m-%d" }}{% endcapture %}
{% capture current_date_with_year %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture %}
<div class="emoji-representation">
{% for E in S[current_date] %}
  {% if E.link %}
  <a target=_blank href="{{E.link}}" title="{{E.day_name}}">{{E.emoji}}</a>
  {% else %}
  <span title="{{E.day_name}}">{{E.emoji}}</span>
  {% endif %}
{% endfor %}

{% for E in S[current_date_with_year] %}
  {% if E.link %}
  <a target=_blank href="{{E.link}}" title="{{E.day_name}}">{{E.emoji}}</a>
  {% else %}
  <span title="{{E.day_name}}">{{E.emoji}}</span>
  {% endif %}
{% endfor %}
{% if current_date == "12-29" %}
<a href="https://internetfreedom.in/double-your-impact-hbd-nemo-2023/" target=_blank title="Nemo's Birthday">🎂</a>
{% endif %}
</div>