<footer>
  {% include_cached topics.html %}  
  <nav class="lower-nav-container">
    <span>Beatroot News</span>
    <ul style="display: inline;">
      <li><a href="https://home.beatrootnews.com/contact">Contact</a></li>
      <li><a href="https://home.beatrootnews.com/about">About</a></li>
      <li><a href="https://home.beatrootnews.com/terms">Privacy Policy & Terms</a></li>
    </ul>
  </nav>
  <nav class="lower-nav-container">
    <span>This Website</span>
    <ul style="display: inline;">
      <li><a href="/about/">About</a></li>
      <li><a href="/roadmap/">Roadmap</a></li>
    </ul>
  </nav>

  <p>
    Content &copy; Beatroot News
    <br>
    Last Updated: {{site.time| date: "%b %e %l:%M%P" }}
  </p>
</footer>