<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width">
<link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAABHNCSVQICAgIfAhkiAAAAapJREFUOI2t0s9rz3EcB/DH67OvkcZMWmm+OZFSqw0HOVCuc3Bw4A9wWHJ2XLkoSjnsssIFuXFQSthlEYZWc2Bl8jN2wXfYbJ+Xg63W2GLfPa+v3o+e73qGOTlqx2p0pnJPiI4U28hWNBEovxEfiBcpn4QcWGFysNdwbdYIOGR74zqN+5NjRGfQGqKwSFImPmEoFWenNN25qP9H9NhXeedrd8qTIdYuhiyCfyFOtVlzumGLloPJmUK0LAWDECvJHTWTI5UQR7B+qdgctDnl4QK7QkS9ICLYWSQblwEDyYYCDcsIThQYXy4wxGhBXJ3ZVF35beTdolBewYf6MWOlvFFMaB5Ieb3ehrg5rXmg4anRqZ3aHqfcHbT5zwmlLHE/VY6fNzDWAIPe1zq0PQjlVlRR/Ms2U/7EvRDdfR49Z85knnj3sV31VmH6O9EeYvUiUAafyXOp8USfhyOztz9a9FC81lElDhR0YW+IVTNQDf3BndLUtU2GXvVQzn2/4Ld6KN7q6MIFYh1eBqcrJi71Gh7HX6dWWQh8o31ziG5yhLxdmr5cNfRsfqP5+QUUM5oqKKZNVAAAAABJRU5ErkJggg==">
<style>
{% include style.css %}
</style>
<script type="text/javascript">
{% include hide.js %}
</script>