a{
  color: #660033;
}
body {
  color: #073642;
  display: block;
  background: #eee8d5;
  padding: 0px 20px;
  max-width: 550px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  margin-bottom: 20px;
}

details summary {
  cursor: pointer;
  padding-bottom: 0.4em;
}
details summary > * {
  display: inline;
}
summary>h3, summary>h2 {
  display: inline;
  font-weight: normal;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  margin: 5px 0px;
}

.full-version-link {
  margin-left: 15px;
}

.slug-line {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.hr-line {
  position: relative;
  height: 4px;
  background: #660033;
}

.story-title {
  line-height: 2rem;
  font-size: 1.5rem;
  margin: 0;
}

.topic-heading {
  line-height: 2rem;
  font-size: 1.5rem;
}

.topic-container {
  margin-top: 20px;
  margin-left: 10px;
}
.topic-list {
  display: inline-block;
  padding: 0px 5px;
}

/* Separate topics with a slash */
.topic-list:not(:last-child)::after {
  content: " /";
}

.topic-date {
  margin: 20px 0;
  font-style: italic;
}

.paragraphs-container {
  line-height: 1.5rem;
}

.button:link,
.button:visited, button, input[type=button] {
    background-color: #660033;
    color: white;
    border: 1px solid #660033;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover,
.button:active {
    background-color: #660033;
    color: white;
}

footer>nav>ul{
  padding-left: 0;
}

.lower-nav-container li {
  margin-left: 0;
  display: inline;
  padding-right: 20px;
}

.lower-nav-container span {
  width: 110px;
  display: inline-block;
}

h6 {
  text-transform: uppercase;
}
.details-content {
  font-size: smaller;
  border: 1px dashed;
  border-radius: 3px 0 0 3px;
  /* No border on right, since we have date line */
  border-right: 0px;
}

.story-links {
  margin: 5px 10px 5px 0px;
}

details>summary::before{
  left: -1rem;
  position: absolute;
  font-family: monospace;
  margin-top: 0.20rem;
}

details[data-syndicated="1"][data-day="yesterday"]>summary::before{
  content: "â–";
}

.quiet::before{
  content: "[";
}

.quiet {
  color: darkgoldenrod;
}
.quiet::after{
  content: "]";
}

.detailswrapper:has(details[data-day="yesterday"]>summary), .detailswrapper:has(details[data-day="yesterday"][open]>.details-content){
  box-shadow: 2px 0px 0px 0px #37001c44;
}

.detailswrapper:has(details[data-day="today"]>summary), .detailswrapper:has(details[data-day="today"][open]>.details-content){
  box-shadow: 2px 0px 0px 0px #37001c;
}

details.viewed>summary {
  color: #999;
}

details .real-title {
  display: none;
}

details[open] .real-title {
  display: inline;
}
details .trigger-warning {
  font-weight: bold !important;
}
details[open] .trigger-warning {
  display: none;
}

details[open] .story-links {
  text-align: right;
}

mark {
  background: #ff0;
  padding: 0px 2px;
  color: #000;
}

.hidden-notifier {
  display: none;
}

.emoji-representation, .emoji-representation>a{
  display: inline;
  text-decoration: none;
  font-style: normal;
}

details {
  padding-bottom: 0.4em;
}

details summary:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #660033;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}

details.viewed summary:focus-visible {
  text-decoration-color: #66003344;
}
