a{
  color: #660033;
}
body {
  color: #073642;
  display: block;
  background: #eee8d5;
  padding: 0px 20px;
  max-width: 550px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  margin-bottom: 20px;
}

summary>h3, summary>h2 {
  display: inline;
  font-weight: normal;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  margin: 5px 0px;
}

.full-version-link {
  margin-left: 15px;
}

.slug-line {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.hr-line {
  position: relative;
  height: 4px;
  background: #660033;
}

.story-title {
  line-height: 2rem;
  font-size: 1.5rem;
  margin: 0;
}

.topic-heading {
  line-height: 2rem;
  font-size: 1.5rem;
}

.topic-container {
  margin-top: 20px;
  margin-left: 10px;
}
.topic-list {
  display: inline-block;
  padding: 0px 5px;
}

/* Separate topics with a slash */
.topic-list:not(:last-child)::after {
  content: " /";
}

.topic-date {
  margin: 20px 0;
  font-style: italic;
}

.paragraphs-container {
  line-height: 1.5rem;
}

.button:link,
.button:visited, button, input[type=button] {
    background-color: #660033;
    color: white;
    border: 1px solid #660033;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover,
.button:active {
    background-color: #660033;
    color: white;
}

footer>nav>ul{
  padding-left: 0;
}

.lower-nav-container li {
  margin-left: 0;
  display: inline;
  padding-right: 20px;
}

.lower-nav-container span {
  width: 110px;
  display: inline-block;
}

h6 {
  text-transform: uppercase;
}
.details-content {
  font-size: smaller;
  border: 1px dashed;
  border-radius: 3px;
}

details[data-syndicated="1"]>summary::before{
  content: "â–";
  left: -35px;
  position: relative;
}

details[data-syndicated="1"] h3{
  left: -1rem;
  position: relative;
}

details.viewed>summary {
  color: #999;
}

details .real-title {
  display: none;
}

details[open] .real-title {
  display: inline;
}
details .trigger-warning {
  font-weight: bold !important;
}
details[open] .trigger-warning {
  display: none;
}

mark {
  background: #ff0;
  padding: 0px 2px;
  color: #000;
}

.hidden-notifier {
  display: none;
}