<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    {% include header.html %}
    {% seo %}
</head>
<body>
<header>
  <p>Text-Only
    <a class="full-version-link button" href="https://apps.apple.com/in/app/beatroot-news/id1618735924">iOS</a>
    <a class="full-version-link button" href="https://play.google.com/store/apps/details?id=com.beatrootnews.app">Android</a>
    <a title="Mobile-Web only" class="full-version-link button" href="https://app.beatrootnews.com/">Web</a>
  </p>
</header>

<main>
  {{content}}
</main>

<div class="hr-line"></div>
{% include topics.html %}
{% include footer.html %}

</body>
</html>
