<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.title}}</title>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    {% include header.html %}
</head>
<body>
<header>
  <p>Text-Only
    <a class="full-version-link button" href="https://apps.apple.com/in/app/beatroot-news/id1618735924">iOS</a>
    <a class="full-version-link button" href="https://play.google.com/store/apps/details?id=com.beatrootnews.app">Android</a>
    <a title="Mobile-Web only" class="full-version-link button" href="https://app.beatrootnews.com/">Web</a>
  </p>
</header>

<main>
  {{content}}
</main>


<div class="hr-line"></div>

<nav>
<p>Topics</p>
<ul>
    {% for topic in site.topics %}
    <li class="topic-list"><a href="/{{ topic}}/">{{topic | capitalize}}</a> /</li>
    {% endfor %}
</ul>
</nav>

<footer>
  
  <nav class="lower-nav-container">
    <span>Beatroot News</span>
    <li><a href="https://home.beatrootnews.com/contact">Contact</a></li>
    <li><a href="https://home.beatrootnews.com/about">About</a></li>
    <li><a href="https://home.beatrootnews.com/terms">Privacy Policy & Terms</a></li>
  </nav>
  <nav class="lower-nav-container">
    <span>This Website</span>
    <li><a href="/about/">About</a></li>
  </nav>

  <p>&copy; Beatroot News</p>
</footer>

</body>
</html>
