---
layout: default
---
<p class="slug-line">
	<a class="slug-link" href="/">Beatroot</a> &gt; {{page.title | capitalize}}
</p>
<div class="topic-container">
<h1 class="topic-heading">{{page.title | capitalize  | strip}}</h1>
<div class="hr-line"></div>
<p class="topic-date"><time datetime="{{site.time | date: '%y-%m-%d'}}">{{site.time | date: "%A, %b, %e, %Y"}}</time></p>

{% for post in site.pages %}
{% if post.topics and post.topics contains page.topic %}
	{% include_cached story.html story=post heading_level="2" %}
{% endif %}
{% endfor %}

</div> <!-- topic-container -->
