---
layout: default
---
<p class="slug-line">
	<a class="slug-link" href="/">Beatroot</a> &gt; {{page.title | capitalize}}
</p>
<div class="topic-container">
<h1 class="topic-heading">{{page.title | capitalize  | strip}}</h1>
<div class="hr-line"></div>
<p class="topic-date">
	<time datetime="{{site.time | date: '%y-%m-%d'}}">{{site.time | date: "%A, %b, %e, %Y"}}</time>
	{% include date-easter.html %}
</p>

{% if page.article_count == 0 %}
	<p class="topic-empty">No articles today under {{page.title}}</p>
{% else %}
	{% for post in site.pages %}
	{% if post.topics and post.topics contains page.topic %}
		{% include_cached story.html story=post heading_level="2" %}
		{% assign post_count = post_count | plus: 1 %}
	{% endif %}
	{% endfor %}
{% endif %}

</div> <!-- topic-container -->
